<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ReduxJS</title>
	<script src="redux.js"></script>
	<script src="dom.js"></script>
	<script src="ajax.js"></script>

	<!-- load jquery for promise compatibility testing -->
	<script src="lib/jquery-2.0.3.js"></script>
	
	<link rel="stylesheet" href="lib/jasmine-1.3.1/jasmine.css">
	<script src="lib/jasmine-1.3.1/jasmine.js"></script>
	<script src="lib/jasmine-1.3.1/jasmine-html.js"></script>

	<script src="tests.js"></script>
	<script src="tests-dom.js"></script>
</head>
<body>
<script>

with (redux) {

var d1 = Deferred();
var p1 = d1.promise;

// test `done`
// when(24)
// 	.then(function () {
// 		console.log('H1');
// 		throw new Error('uncaught error');
// 	})
// 	.done()
// ;

// test `sleep`
// when(function (v) {
// 	return v;
// }).call(24).sleep(2000).then(alert);

var html = '<a href="{{url}}">{{text}}</a> <a href="{{ url }}">{{text}}</a> {{ unknown }}';
var data = { text: 'Home', url: 'index.html', "bad ' key": "ok" };

console.log(template(html, data));

// test promise timeouts
// var d = Deferred();
// var p = d.promise;
// when(p).timeout(1000, 'oot').then(alert).done();
// delay(partial(d.fulfill, 24), 900);

// test with jQuery ajax
// when($.ajax('ajax1.html')).then(alert);




}

(function() {
/** begin jasmine stuffs **/
var jasmineEnv = jasmine.getEnv();
jasmineEnv.updateInterval = 250;

var htmlReporter = new jasmine.HtmlReporter();
jasmineEnv.addReporter(htmlReporter);

jasmineEnv.specFilter = function(spec) {
	return htmlReporter.specFilter(spec);
};


var currentWindowOnload = window.onload;
window.onload = function() {
 if (currentWindowOnload) {
   currentWindowOnload();
 }

 // document.querySelector('.version').innerHTML = jasmineEnv.versionString();
 execJasmine();


 setTimeout(function ( ){ scrollTo('0') }, 400);
};

function execJasmine() {
 jasmineEnv.execute();
}
/** end jasmine stuffs **/
}());
 
</script>
</body>
</html>